.idea/
collector/.idea/
collector/modules/agent/var
collector/modules/transfer/var
my_scripts
pyenv*
goroot
controle_node_conf
exec_pys
res_txt_csv
rds_logs
virtualenv
ansible
.ansible/
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.lesshst
.mysql_history
.mysql_history.TMP
.rediscli_history
.ssh/
.vim/
.viminfo
